<html>
    <head>
        <title>Received Post Data!</title>
    </head>
    <body>
        <p>Data from Node, rendered in EJS</p>
        <ul> 
            <% for ( q in post ) { %>
            <li>
                <%= q %> -> <%= post[q] %>
            </li>
            <% } %>
        </ul> 
    </body>
</html>