<!DOCTYPE html>
<html>

<head>
    <title>Guessing game - guess page</title>
    <link rel='stylesheet' href='./guess.css'/>
</head>

<body>
    <div class='instructions container'>
        <p>Sorry, that is not the number, try again!</p>
    </div>
    <form action="guess" method="post", class="container">
        <div>
            <label for="guess">Your next guess: </label>
            <input type="text" name="guess" />
            <button type="submit">Guess</button>
        </div>
    </form>
    <ul>
            <% for ( var i = results.length-1; i >= 0; i-- ) { %>
            <% var c = results[i].result == "too low" ? "low" : "high" %>
            <li class='container  <%= c %>'>
               
                <%= results[i].guess %> was
                <%= results[i].result %>
            </li>
            <%}%>
        </ul>
</body>

</html>