<!DOCTYPE html>
<html>
<head>
	<title>Success!</title>
	<link rel='stylesheet' href='./guess.css'/>
</head>
<body>
	<div class='container instructions', id='success-message'>
	    <h1> Fantastic!</h1>

	    <a href="start">play again</a>
    </div>
</body>
</html>