extends layout

block content
  form(action = "guess", method = "post")
    div
      label(for="guess") Your next guess: 
      input(type="text", name="guess")
      button(type="submit") Guess

      ul
        each guess in results.reverse()
          - var c = guess.result == 'too high' ? 'highGuess' : 'lowGuess';
          li(class=c) #{guess.guess} was #{guess.result}
