doctype html
html
  head
    title CMPS 369 Repetitive Guessing Game
    //- Important:  The use of less does not change the fact that we
    //-             still link to a CSS file.  The CSS file is automatically
    //-             created by the less middleware on-demand.
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- Each individual view is a child component
    //- Each view contains a content block that gets
    //- inserted here.
    block content
