
body {
	font-family: "Verdana", arial;
	padding:2em;
}


div {
	padding:1em;
	border-style: solid;
	border-width: 4px;
	background-color:#E6E6E6;
	border-color: #808080;
	width:450px;
	border-radius: 15px;
}

.instructions {
	background-color:#FFFFB8;
	border-color:	#E6B800;
	float:right;
	width:250px;
}

form {
	text-align:right;
	padding:1em;
}

button {
	margin-top:1em;
	padding:1em;   
}

li {
	padding:0.5em;
	text-align:center;
	list-style-type:none;
	border-style: solid;
	border-width: 4px;
	border-radius: 15px;
	width:300px;
	margin-bottom:0.5em;
}

.highGuess {
	background-color:#A64D4D;
	border-color:	#8D1919;
}
.lowGuess {
	background-color:#8099E6;
	border-color:	#335CD6;
}
