<!doctype http>
<html>
    <head>
        <title>Success Page</title>
    </head>
    <body>
        <h1>Great work!</h1>
        <p>
            <a href='/start'>Play again</a>
        </p>
    </body>
</html>