<!DOCTYPE html>
<html>
<head>
    <title>Guessing game - start page</title>
    <link rel='stylesheet' type = 'text/css' href='stylesheets/style.css'/>
</head>
<body>
    <div class='instructions'>
        <p>
            Welcome to our guessing game.  The server is thinking of a number between 1 and 10 - try to guess what it is!
        </p>
    </div>
    <form action = "guess" method = "post">
        <div>
            <label for="guess">Your guess:  </label>
            <input type="text" name="guess"/>
            <button type="submit">Guess</button>
        </div>
    </form>
</body>
</html>