<!DOCTYPE html>
<html>
<head>
    <title>Success!</title>
    <link rel='stylesheet' type = 'text/css' href='stylesheets/style.css'/>
</head>
<body>
    <div>
        <h1> Fantastic!</h1>

        <a href="start">play again</a>
    </div>
</body>
</html>