<!DOCTYPE html>
<html>
<head>
    <title>Guessing game - start page</title>
    <link rel='stylesheet' type = 'text/css' href='guess.css'/>
</head>
<body>
    <p>Your login failed! <a href="login">Why don't you try harder</a>
</body>
</html>
