<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <link rel='stylesheet' type = 'text/css' href='guess.css'/>
</head>
<body>
	<div>
	    <h1> Guessing game statistics</h1>
	    <p> Played <%= timesPlayed %> </p>
	    <p> Correct <%= timesCorrect %> </p>
        <p> Average number of guesses:  <%= avgGuesses %> </p>
    </div>
</body>
</html>