<!DOCTYPE html>
<html>
<head>
    <title>Success!</title>
    <link rel='stylesheet' type = 'text/css' href='guess.css'/>
</head>
<body>
	<div>
	    <h1> Fantastic!</h1>

	    <a href="start">play again</a>
      <p><a href="logout">logout</a></p>
    </div>
</body>
</html>
